body {
  background-color: #121212;
}
/* Start top Navbar */

.main-logo {
  display: block;
  margin: auto;
}

.main-logo img {
  width: 85px;
}

.nav-style {
  background-color: #202020;
  color: white;
}

.nav-style .nav-link {
  color: #ffffff;
}

.navbar .nav-icons ul li {
  list-style-type: none;
  padding: 10px 25px;
}

@media only screen and (max-width: 600px) {
  .navbar .nav-icons ul li {
    margin: 0 20px;
  }

  .navbar .nav-icons ul li {
    list-style-type: none;
    padding: 0;
  }
}

.navbar .nav-icons ul li i {
  color: white;
  font-size: 26px;
}

.navbar .nav-icons ul li i:hover {
  color: #6b852b;
}

.slider-div {
  padding: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}

/* End top Navbar */

/* start bottom nav */

.navbar .bottom-nav-icons ul li {
  list-style-type: none;
  padding: 10px 25px;
}

@media only screen and (max-width: 600px) {
  .navbar .bottom-nav-icons ul li {
    margin: 0 20px;
  }
  .navbar .bottom-nav-icons ul li {
    list-style-type: none;
    padding: 0;
  }
}

.navbar .bottom-nav-icons ul li i {
  color: white;
  font-size: 26px;
}

.navbar .bottom-nav-icons ul li i:hover {
  color: #6b852b;
}

/* end bottom nav  */

/* start champ div */

.champ-div .box {
  margin-top: 55px;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(100, 255, 0, 1) 46%,
    rgba(229, 240, 41, 0.465721322708771) 81%
  );
}

.champ-div .caf-logo {
  margin-top: 40px;
  float: left;
  margin-left: 25px;
  width: 60px;
}

.champ-div .champ-flags .flag {
  width: 35px;
  height: 20px;
  margin: 0 40px;
}

.champ-div .champ-flags .vs {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.champ-div h5 {
  padding-top: 20px;
}

.champ-div .timing p {
  margin-left: 85px;
}

/* end champ div */

/* Start News div */

.video-card div {
  margin: 60px 0 10px 0;
}

.video-card div h5 {
  float: right;
}

.video-card div p {
  font-size: 10px;
  margin-left: 10px;
}

.video-card .video {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .video-card div p {
    margin: 0 34px 0 18px;
  }

  .video-card .video-description {
    margin-right: 20px;
  }
}

.video-card .video-description {
  margin-right: 20px;
}

.news-div i {
  font-size: 25px;
}

.news-div .thumb-up-icon {
  padding-left: 10px;
}

/* End News div */
